<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!--  Step 1-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Информация по регистрации на олимпиаду</ng-template>
      <h1><b>Для регистрации пройдите эти шаги:</b></h1>
      <ol>
        <li>Зарегистрируйтесь в СДО Moodle<br>
          <span id="ttt"><i>Логин и пароль для входа в СДО Moodle необходимо запомнить!</i></span>
        </li>
        <li>Пройдите электронную регистрацию <span>с прикреплением оплаты</span><br>
        </li>
        <li>Запишитесь на олимпиаду с использованием парольного слова<br></li>
      </ol>
      <img src="../../assets/CheckBox.gif">
      <p id="textCB">Чтобы перейти к следующему шагу, отметьте выполненные действия.</p><br>


      <p>Есть вопросы? <a href="tel:80172014393">8(017)201-43-93</a></p>

      <hr>
      <div class="check">
        <mat-form-field>
          <p class="checkBoxText"><mat-checkbox formControlName="first" required>Я ознакомился(лась) с информацией</mat-checkbox></p>
          <label>
            <input matInput hidden formControlName="first"  required>
          </label>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary"  matStepperNext>Далее</button>
        </div>
      </div>
    </form>

  </mat-step>
  <!--  Step 2-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Регистрация в СДО Moodle</ng-template>
      <h1><b>Регистрация в СДО Moodle</b></h1>
      <h2>Выберите один из пунктов:</h2>
      <mat-radio-button (change)="changeIsReg()">Создать учетную запись</mat-radio-button><br><br>
      <mat-radio-button (change)="changeIsAuth()">Войти в Вашу учетную запись</mat-radio-button><br><br>

      <ol *ngIf="isReg && !isAuth">
        <li>Заполните электронную форму</li>
        <li>В случае успешной регистрации на указанный электронный адрес участника высылается ссылка для активации доступа к системе</li>
      </ol>
      <iframe *ngIf="isReg && !isAuth" src="http://minsk.moiro.by/moodle/login/signup.php?" width="100%" frameborder="none" height="600px"></iframe>
      <iframe *ngIf="!isReg && isAuth" src="http://minsk.moiro.by/moodle/login/index.php" width="100%" frameborder="none" height="600px"></iframe>
      <br>
      <p>Есть вопросы? <a href="tel:80172014393">8(017)201-43-93</a></p>

      <hr>
      <div class="check">
        <mat-form-field>
          <mat-checkbox *ngIf="isReg && !isAuth" matInput  formControlName="first" required>Создали учетную запись</mat-checkbox><br>
          <mat-checkbox *ngIf="isReg && !isAuth" matInput  formControlName="second" required>Подтвердили регистрацию</mat-checkbox><br>
          <mat-checkbox *ngIf="isReg && !isAuth" matInput  formControlName="third" required>Запомнили или записали логин и пароль</mat-checkbox><br>
          <mat-checkbox *ngIf="!isReg && isAuth" matInput  formControlName="fourth" required>Вошли в систему</mat-checkbox>
          <label>
            <input matInput hidden formControlName="third"  required>
          </label>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Назад</button>
          <button mat-raised-button color="primary"  matStepperNext>Далее</button>
        </div>
      </div>
    </form>

  </mat-step>
  <!--  Step 3-->
  <mat-step [stepControl]="thirdFormGroup" label="Пройдите электронную регистрацию">
    <!-- #enddocregion label -->
    <form [formGroup]="thirdFormGroup">
      <h1><b>Электронная регистрация</b></h1>
      <ul>
        <li><span>Выберите соответствующее мероприятие -> Регистрация</span></li>
        <li><span>Нажмите кнопку гостевой вход</span></li>
        <li><span>Заполните анкету и прикрепите платеж</span></li>
        <li><span>Запомните или запишите парольное слово</span></li>
      </ul>
      <iframe src="http://adm.moiro.by/dofordist/index.php" width="100%" frameborder="none" height="600px"></iframe>
      <p>Есть вопросы? <a href="tel:80172014393">8(017)201-43-93</a></p>
      <hr>
      <div class="check">
        <mat-form-field>
          <mat-checkbox matInput  formControlName="first" required>Нажали "Регистрация"</mat-checkbox><br>
          <mat-checkbox matInput  formControlName="second" required>Нажали "Гостевой вход"</mat-checkbox><br>
          <mat-checkbox matInput  formControlName="third" required>Заполнили поля и прикрепили платежку</mat-checkbox><br>
          <mat-checkbox matInput  formControlName="fourth" required>Получили парольное слово</mat-checkbox>
          <label>
            <input matInput hidden formControlName="fourth" required>
          </label>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Назад</button>
          <button (click)="ste()" mat-raised-button color="primary" matStepperNext>Далее</button>
        </div>
      </div>
    </form>
  </mat-step>
  <!--  Step 4-->
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Записаться на олимпиаду в Moodle</ng-template>
      <h1><b>Запись на олимпиаду</b></h1>
      <h2>Запишитесь на соответствующую олимпиаду с использованием парольного слова</h2>
      <iframe *ngIf="st" src="http://minsk.moiro.by/moodle/course/index.php?categoryid=4" width="100%" frameborder="none" height="600px"></iframe>
      <p>Есть вопросы? <a href="tel:80172014393">8(017)201-43-93</a></p>
      <hr>
      <div class="check">
        <mat-form-field>
          <mat-checkbox matInput  formControlName="first" required>Записались на олимпиаду</mat-checkbox><br>
          <label>
            <input matInput hidden formControlName="first"  required>
          </label>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Назад</button>
          <button mat-raised-button color="primary"  matStepperNext>Завершить</button>
        </div>
      </div>
    </form>
  </mat-step>
  <!--  Step 5-->
  <mat-step>
    <ng-template matStepLabel>Завершить</ng-template>
    <h1>Регистрация прошла успешно!</h1>
    <div>
    </div>
  </mat-step>
</mat-vertical-stepper>
