/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/header-bg.png");
  background-position: left;
  background-size: cover;
}

.errorIE {
  margin: 0 auto;
  background-color: white;
  width: 60%; height: 50vh;
  border-radius: 15px;
  opacity: 0.9;
  padding: 15px;
  margin-top: 20px
}

#errorIEText {
  color: #f9572c;
  font-size: large;
  margin-top: 5%;
  text-align: center;
}

@media screen and (min-width: 640px) {

  #errorIEText {
    color: #f9572c;
    font-size: xx-large;
    margin-top: 5%;
    text-align: center;
  }
}

